<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mloine.auth.auths.dao.RoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.mloine.auth.auths.entity.RoleInfo">
    <result column="role_code" jdbcType="BIGINT" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_code" jdbcType="VARCHAR" property="updateUserCode" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
    <result column="remark3" jdbcType="TIMESTAMP" property="remark3" />
  </resultMap>
</mapper>